DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY=

NETSAGE_SMS_MODE=dry_run
AFRICASTALKING_TEST_RECIPIENTS=
